<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:motan="http://api.weibo.com/schema/motan" xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
   http://api.weibo.com/schema/motan http://api.weibo.com/schema/motan.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 引入配置文件 -->
	<context:property-placeholder
		file-encoding="UTF-8"
		location="classpath*:motan.properties"
	/>

	<!-- motan使用的协议 -->
	<motan:protocol
		name="motan"
		id="demo-motan"
		maxServerConnection="10000"
		maxContentLength="1048576"
		requestTimeout="60000"
		maxWorkerThread="${server.thread.max:1000}"
		minWorkerThread="${server.thread.min:20}"
	/>

	<!-- 注册中心 -->
	<motan:registry regProtocol="zookeeper" name="zo" address="${server.zookeeper.addr}"/>

	<!-- 服务的实现类 -->
	<bean id="helloServiceImpl" class="com.zbss.HelloServiceImpl" />

	<!-- 暴露服务 -->
	<motan:service interface="com.zbss.api.HelloService" ref="helloServiceImpl" export="${server.port}" />

</beans>