<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:motan="http://api.weibo.com/schema/motan" xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
   http://api.weibo.com/schema/motan http://api.weibo.com/schema/motan.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 引入配置文件 -->
	<context:property-placeholder
		file-encoding="UTF-8"
		location="classpath*:motan.properties"
	/>

	<!--
		motan使用的协议
		loadbalance	负载均衡	只在调用端有效
		haStrategy	容错		只在调用端有效
	-->
	<motan:protocol
		name="motan"
		id="demo-motan"
		requestTimeout="60000"
		maxContentLength="1048576"
		loadbalance="roundrobin"
		haStrategy="failover"
	/>

	<!-- 注册中心 -->
	<motan:registry regProtocol="zookeeper" name="zo" address="${server.zookeeper.addr}"/>

	<!-- 引入服务 -->
	<motan:referer interface="com.zbss.api.HelloService" id="helloService" />

</beans>